.gallery {
    display: inline-block;
    width: 100%;
}
    .gallery > .filter {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
    }
    .gallery > .list {
        display: inline-block;
        width: 100%;
    }
        .gallery > .list > .work {
            display: inline-block;
            width: calc((100% - 60px) / 3);
            height: 320px;
            float: left;
            margin: 0 0 30px 30px;
            overflow: hidden;
            position: relative;
            color: #fff;
        }
            .gallery .work:nth-child(1),
            .gallery .work:nth-child(4) {
                margin-left: 0;
            }
            .gallery .work > img {
                display: inline-block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .gallery .work > .hover {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: center;
                background-color: var(--color-secondary-60);
            }
                .gallery .work:hover > .hover {
                    display: inline-block;
                }
                .gallery .hover > h5 {
                    display: inline-block;
                    width: 100%;
                    font-size: 36px;
                    line-height: 40px;
                }
                .gallery .hover > .tags {
                    display: inline-block;
                    width: 100%;
                    font-size: 18px;
                    line-height: 20px;
                }